<section id="bg-image" class="py-4 p-md-4" *ngIf="state$ | async as acc; else loading"
         appBgImage="assets/images/brand/Firebaseme_splash2.png">

  {{'' // change header depending on if user doc exists}}
  <h1 class="mat-display-1 d-flex align-items-center mb-3 ps-3">
    <ng-container *ngIf="acc.projects && acc.projects.length > 0">Current Projects</ng-container>
    <ng-container *ngIf="!acc.projects || acc.projects.length === 0">Add a Project</ng-container>
    <button mat-mini-fab class="ms-3" matTooltip="Add new project" (click)="openWriteProjectDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </h1>

  {{'' // if user doc exists}}
  <ng-container *ngIf="acc.projects && acc.projects.length > 0">
    <div class="row row-cols-md-4 row-cols-xl-5 m-0">
      <ng-container *ngFor="let pro of acc.projects; let i = index">
        <div class="col">
          <app-project-card [project]="pro" [index]="i"></app-project-card>
        </div>
      </ng-container>
    </div>
  </ng-container>

  {{'' // if user doc doesn't exist}}
  <ng-container *ngIf="!acc.projects || acc.projects.length === 0">
    <mat-card id="no-projects" class="no-bg-md">
      <mat-card-header>
        <mat-card-title>Welcome to Firetrace</mat-card-title>
        <mat-card-subtitle>Create your first Firetrace project to start tracking your Firebase activity
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button color="accent" class="w-xxs-100 w-md-initial mat-card-header-text"
                (click)="openWriteProjectDialog()">
          Create Project
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>

<!--loading page template-->
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
