<section id="bg-image" class="py-4 p-md-4" *ngIf="accountDoc$ | async as acc; else loading"
         appBgImage="assets/images/brand/Firebaseme_splash2.png">

  {{'' // change header depending on if user doc exists}}
  <h1 class="mat-display-1 d-flex align-items-center mb-3 ps-3">
    <ng-container *ngIf="acc.exists">Current Projects</ng-container>
    <ng-container *ngIf="!acc.exists">Add a Project</ng-container>
    <button mat-mini-fab class="ms-3" matTooltip="Add new project">
      <mat-icon>add</mat-icon>
    </button>
  </h1>

  {{'' // if user doc exists}}
  <ng-container *ngIf="acc.exists">
    <div class="row row-cols-md-4 row-cols-xl-5 m-0">
      <ng-container *ngFor="let pro of acc.projects">
        <div class="col">
          <app-project-card [project]="pro"></app-project-card>
        </div>
      </ng-container>
    </div>
  </ng-container>

  {{'' // if user doc doesn't exist}}
  <ng-container *ngIf="!acc.exists">
    <mat-card id="no-projects" class="no-bg-md">
      <mat-card-header>
        <mat-card-title>Welcome to Firetrace</mat-card-title>
        <mat-card-subtitle>Create your first Firetrace project to start tracking your Firebase activity
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button color="accent" class="w-xxs-100 w-md-initial mat-card-header-text">Create Project
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>
</section>

<!--loading page template-->
<ng-template #loading>
  <div style="display: grid; place-items: center; height: 100%">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
