@import '../../../styles/partials/material-design/theme-colours';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../styles/partials/bootstrap/variables';

// spacing on mat tabs
mat-tab-group label {
    display: flex;

    img {
      margin-right: 5px;
    }
}

// adjust the position of the background image on smaller devices for readability
@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  #bg-image {
    background-position: bottom;
    background-size: initial !important;
  }
}

// on larger devices remove the background of the "no projects" card
@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .no-bg-card {
    background: unset;
  }
}


