@import '../../../styles/partials/material-design/theme-colours';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../styles/partials/bootstrap/variables';

// spacing on mat tabs
mat-tab-group label {
    display: flex;

    img {
      margin-right: 5px;
    }
}

section {
  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }
  @media screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }
}

// remove box shadow, border-radius, and set colour to same as dark background on "no projects" card
.no-bg-md {
  background-color: map-get($theme-colors, 'fbm-dark');
  box-shadow: unset;
  border-radius: unset;
}

// adjust the position of the background image on smaller devices for readability
@media screen and (max-width: map-get($grid-breakpoints, 'sm')) {
  #bg-image {
    background-position: bottom;
    background-size: initial !important;
  }
}

// on larger devices remove the background of the "no projects" card
@media screen and (min-width: map-get($grid-breakpoints, 'sm')) {
  .no-bg-md {
    background: unset;
  }
}


