<mat-card class="bg-black d-flex flex-column justify-content-between m-1 m-md-3 p-0" (click)="routeToIndex()">
  <mat-card-header>
    <mat-card-title class="mb-0 p-sm-2">{{project.nickname}}</mat-card-title>
  </mat-card-header>
  <div>
    <mat-card-content class="d-flex flex-column align-items-end mb-1">
      <a mat-button class="text-right px-0">Go to project
        <mat-icon color="primary">chevron_right</mat-icon>
      </a>
    </mat-card-content>
    <div id="btm-line" class="bg-accent"></div>
  </div>
</mat-card>
