<!--login card-->
<mat-card class="w-md-40">
  <!--card heading-->
  <div>
    <mat-card-title class="ms-1 mb-0">Add a new project</mat-card-title>
    <mat-card-subtitle class="my-2">Add your project to better track your Firebase project</mat-card-subtitle>
  </div> <!--end card heading-->
  <!--db error-->
  <div class="col-12 error-container d-flex justify-content-center">
    <mat-error *ngIf="error" class="d-flex align-items-center text-center">
      <mat-icon>error</mat-icon>
            {{error}}
    </mat-error>
  </div> <!--end db error-->
  <mat-card-content>
    <!--login form-->
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">

      <div class="row row-cols-1">
        <!--email section-->
        <div class="col mb-2">
          <mat-form-field class="w-100" appearance="standard" hideRequiredMarker>
            <mat-label>Project Nickname</mat-label>
            <input id="nickname" matInput required autocomplete="on" formControlName="nickname" autofocus/>
            <mat-hint>A short name to easily identify your project</mat-hint>
            <mat-error>Nickname is required</mat-error>
          </mat-form-field>
        </div> <!--end email section-->
        <!--password section-->
        <div class="col">
          <mat-form-field class="w-100" appearance="standard" hideRequiredMarker>
            <mat-label>DB URL</mat-label>
            <input type="url" id="dbURL" matInput required autocomplete="on"
                   formControlName="dbURL">
            <mat-hint>URL to the DB you're using to log your results</mat-hint>
            <mat-error>Properly formatted URL is required</mat-error>
          </mat-form-field>
        </div> <!--end password section-->
        <!--switch to register-->
        <div class="col mb-4 mt-2">
          <!--login-->
          <button type="submit" mat-raised-button color="primary" class="w-100">Submit</button>
        </div>

      </div>
    </form> <!--end login form-->
  </mat-card-content>
</mat-card> <!--end login card-->
