/**
 * Custom palettes generated match the Firebase-me PR colours
 */

/* For use in src/lib/core/theming/_palette.scss */
$md-fbmorange: (
  50 : #feeae3,
  100 : #fecab9,
  200 : #fda78b,
  300 : #fc845c,
  400 : #fb6939,
  500 : #fa4f16,
  600 : #f94813,
  700 : #f93f10,
  800 : #f8360c,
  900 : #f62606,
  A100 : #ffffff,
  A200 : #ffedeb,
  A400 : #ffbeb8,
  A700 : #ffa79e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* For use in src/lib/core/theming/_palette.scss */
$md-fbmyellow: (
  50 : #fef7e3,
  100 : #fdebb9,
  200 : #fbdd8b,
  300 : #f9cf5c,
  400 : #f8c539,
  500 : #f7bb16,
  600 : #f6b513,
  700 : #f5ac10,
  800 : #f3a40c,
  900 : #f19606,
  A100 : #ffffff,
  A200 : #fff4e6,
  A400 : #ffdeb3,
  A700 : #ffd399,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


