/**
 * Custom theme colour palettes using material design
 * These are kept separate from custom-theme class so we can import them in multiple places without
 * repeating the heavy mat-core mixin
 */

@import '../../../../node_modules/@angular/material/theming';
@import 'colour_palettes';


$custom-primary: mat-palette($md-fbmyellow);
$custom-accent: mat-palette($md-fbmorange);

// The warn palette is optional (defaults to red).
$custom-warn: mat-palette($mat-red);
