<!--card-->
<mat-card class="no-bg-card">
  <!--card heading-->
  <div class="mat-display-1 mb-3">
    <img src='assets/images/brand/animated_slide_fast.gif' alt='Firebase-Me animated logo' width="50" height="50">
    <ng-container *ngIf="!editProject">Add new project</ng-container>
    <ng-container *ngIf="editProject">Edit Project</ng-container>
  </div> <!--end card heading-->
  <!--db error-->
  <div class="error-container d-flex justify-content-center">
    <mat-error *ngIf="error" class="d-flex align-items-center text-center">
      <mat-icon>error</mat-icon>
      {{error}}
    </mat-error>
  </div> <!--end db error-->
  <mat-card-content>
    <!--write-project form-->
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">

      <div class="row row-cols-1">
        <!--nickname section-->
        <div class="col mb-2">
          <mat-form-field class="w-100" appearance="standard" hideRequiredMarker>
            <mat-label>Project Nickname</mat-label>
            <input id="nickname" matInput required autocomplete="on" formControlName="nickname" autofocus/>
            <mat-hint>We recommend the same name as your Firebase project</mat-hint>
            <mat-error>Nickname is required with a max of 30 characters</mat-error>
          </mat-form-field>
        </div> <!--end nickname section-->
        <!--db url section-->
        <div class="col">
          <mat-form-field class="w-100" appearance="standard" hideRequiredMarker>
            <mat-label>DB URL</mat-label>
            <input type="url" id="dbURL" matInput required autocomplete="on"
                   formControlName="dbURL"/>
            <mat-hint>URL to the DB you're using to log your results</mat-hint>
            <mat-error>Properly formatted URL is required</mat-error>
          </mat-form-field>
        </div> <!--end db url section-->
        <div class="col mb-4 mt-2">
          <button type="submit" mat-raised-button color="primary" class="w-100">Save</button>
        </div>
      </div>
    </form> <!--end write-project form-->
    <div id="link-options" class="col d-flex flex-column align-items-start">
      <button mat-button (click)="isComplete.emit(true)" type="button">
        <mat-icon>chevron_left</mat-icon>
        Go back
      </button>
    </div>
  </mat-card-content>
</mat-card> <!--end card-->
