<!--forgot password card-->
<mat-card>
  <!--card heading-->
  <div>
    <div class="d-flex align-items-end">
      <img src='assets/images/brand/animated_slide_fast.gif' alt='Firebase-Me animated logo' width="50" height="50">
      <mat-card-title class="ms-1 mb-0">Forgot Password</mat-card-title>
    </div>
    <mat-card-subtitle class="my-2">Input your email to reset your password</mat-card-subtitle>
  </div> <!--end card heading-->
  <!--db error-->
  <div class="col-12 error-container d-flex justify-content-center">
    <mat-error *ngIf="error" class="d-flex align-items-center text-center">
      <mat-icon>error</mat-icon>
      {{error}}
    </mat-error>
  </div> <!--end db error-->
  <mat-card-content>
    <!--forgot password form-->
    <form [formGroup]="form" (ngSubmit)="submit(form.value)">

      <div class="row row-cols-1">
        <!--email section-->
        <div class="col">
          <mat-form-field class="w-100" appearance="standard" hideRequiredMarker>
            <mat-label>Email</mat-label>
            <input id="email" matInput required autocomplete="on" formControlName="email" autofocus/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error>Email is required</mat-error>
          </mat-form-field>
        </div> <!--end email section-->
        <!--switch to register-->
        <div class="col mb-4 mt-2">
          <!--reset password-->
          <button type="submit" mat-raised-button color="primary" class="w-100">Reset Password</button>
        </div>

        <div class="col">
          <a mat-button [routerLink]="['/login']">Back to login</a>
        </div>

      </div>
    </form> <!--end forgot password form-->
  </mat-card-content>
</mat-card> <!--end forgot password card-->
