<nav id="site-navigation">
  <mat-toolbar class="justify-content-between">

    <div class="d-flex align-items-center">
      <a class="d-flex align-items-end px-0" mat-button routerLink="/" aria-label="Firebase-me logo home button">
        <img src="assets/images/brand/firebase_full.png" alt="Firebase-me logo" width="40" height="40"/>
        <span id="logo-text">Firetrace</span>
      </a>

      {{'' // get all projects in state so we can loop over them}}
      <ng-container *ngIf="projectState$ | async as pro">

        {{'' // only show if there are projects}}
        <ng-container *ngIf="pro.length != 0">
          {{'' // get selected project from state so we can set it as selected dropdown option if it exists}}
          <ng-container *ngIf="selectedProjectState$ | async as sp">
            <mat-divider class="mx-4" style="height:40px" [vertical]="true"></mat-divider>
            <mat-form-field id="project-picker" appearance="legacy">
              <mat-select #selector [value]="sp.nickname || '0'">
                <mat-option value="0" disabled>Select project</mat-option>
                {{'' // fake mat-option so we can open write dialog without changing the selected value}}
                <div class="no-disabled-styles mat-option" (click)="openWriteProjectDialog(selector)">Create new project
                </div>
                <mat-option *ngFor="let p of pro; let i = index" [value]="p.nickname"
                            (click)="routeToIndex(i)">{{p.nickname}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="auth.isLoggedIn()">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openLogoutDialog()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar>

  {{'' // controlled using loading state}}
  <ng-container *ngIf="state$ | async as state">
    <mat-progress-bar class="w-100" color="accent" [mode]="state.mode" [value]="state.value"
                      *ngIf="state.isVisible"></mat-progress-bar>
  </ng-container>

</nav>

<section>

  <router-outlet></router-outlet>
</section>
