section {
  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }
  @media screen and (min-width: 600px) {
    height: calc(100vh - 64px);
  }
}

#logo-text {
  font-size: 20px;
}

$progress-height: 3px;

// styles for the progress bar stuck to the bottom of the toolbar
mat-toolbar {
  padding-bottom: $progress-height;
}

mat-progress-bar {
  height: $progress-height;
  margin-top: -$progress-height;
}

// FOR STYLING THE project selection drop down in the tool bar
::ng-deep app-root nav#site-navigation {


  // remove underline on select box
  .mat-form-field-underline {
    display: none;
  }

  // make font styles smaller to fit better in toolbar
  .mat-toolbar mat-select {
    font-style: initial;
    font-variant-ligatures: initial;
    font-variant-caps: initial;
    font-variant-numeric: initial;
    font-variant-east-asian: initial;
    font-weight: initial;
    font-stretch: initial;
    font-size: 14px;
    line-height: initial;
  }

  // remove padding
  .mat-form-field-infix {
    border-top: unset;
  }

  // remove padding
  .mat-form-field-wrapper, .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: unset;
  }
}
