#logo-text {
  font-size: 20px;
}

$progress-height: 3px;

// styles for the progress bar stuck to the bottom of the toolbar
mat-toolbar {
  padding-bottom: $progress-height;
}

mat-progress-bar {
  height: $progress-height;
  margin-top: -$progress-height;
}
