<nav>
  <mat-toolbar class="justify-content-between">
    <a routerLink="/" aria-label="Firebase-me logo home button">
      <img src="assets/images/brand/firebase_full.png" alt="Firebase-me logo" width="50" height="50"/>
    </a>
    <button mat-flat-button color="primary" aria-label="Login">
      Join
    </button>
  </mat-toolbar>
      <mat-progress-bar class="w-100" color="accent" mode="indeterminate" hidden></mat-progress-bar>

</nav>

<router-outlet></router-outlet>

<!--d-flex flex-column align-items-start justify-content-center-->
