<ng-container *ngIf="state$ | async as pro; else loading">
  <section class="p-1 p-md-4">

    <h2>{{pro.nickname}}
            <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>
    </h2>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <!--        <mat-icon>logout</mat-icon>-->
            <span>Edit Project</span>
          </button>
          <button mat-menu-item>
            <!--        <mat-icon>logout</mat-icon>-->
            <span (click)="deleteProject(pro)">Delete Project</span>
          </button>
        </mat-menu>
    {{'' // make these load asynchronously}}
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <label><img src="assets/images/firebase/icons/firestore-light.png"
                      alt="Firestore logo" height="20" width="20"/> Firestore
          </label>
        </ng-template>
        Firestore
        <ngx-charts-bar-horizontal
          [results]="saleData"
          [xAxisLabel]="'Read Volume'"
          [yAxisLabel]="'Read Count'"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yAxis]="true"
          [xAxis]="true"
          [showGridLines]="true"
          [gradient]="true"
          scheme="fire">
        </ngx-charts-bar-horizontal>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <label><img src="assets/images/firebase/icons/RTDB-light.png" alt="Firestore logo" height="20" width="20"/>
            Realtime DB
          </label>
        </ng-template>
        Firestore
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <label matTooltip="Storage coming soon" matTooltipPosition="after"><img
            src="assets/images/firebase/icons/storage-light.png" alt="Firestore logo" height="20" width="20"/>
            Storage
          </label>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <mat-accordion>
      <mat-expansion-panel class="bg-black">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Logs
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Show log data here</p>
      </mat-expansion-panel>
    </mat-accordion>

  </section>

</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>





